#login {
    background: linear-gradient(120deg, #4c79d3 45%, #ffffff 55.9%) no-repeat fixed;
}
#app{
    background: linear-gradient(120deg,#ffffff 35%, #4c79d3  65%) no-repeat fixed;  
}
header{
    border-bottom: 1px solid #bebcbc;
    padding: 5px;
    background-color: #ffffff;
}
.color-primary{
 color: #4e0070;
}
.color-secondary:hover{
 color: #4c79d3;
}
.icon-detail{
    font-size: 50px;
    margin-right: 10px;
    vertical-align: middle;
}
.text-login{
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
}
.coins{
    position: absolute;
    bottom: 25px;
}
.button-cancel{
    border-radius: 10px;
}
.button-default{
    border-radius: 10px;
    background-color: #4e0070;
    color: #ffffff;
}

.button-float{
    border-radius: 100%;
    height: 60px;
    width: 60px;
    position: fixed;
    padding: 0!important;
    bottom: 1rem;
    right: 2rem;
    font-size: 35px;
    border: 2px solid #4e0070;
    background-color: #4e0070;
    color:#ffffff;

}
.button-float:hover{
    border: 2px solid #4c79d3;
    background-color: #ffffff;
    color: #4c79d3;
}
.button-login {
    background: #4e0070;
    color: #ffffff;
    position: center;
    border-radius: 10px;
    width: 50%;
    margin: 0 25%;
  
}
.button-login:hover{
    background: #4c79d3;
    color: #ffffff;

}
.link-default{
    color: #4e0070;
    cursor: pointer;
}
.link-default:hover{
    color: #4c79d3;
}
.info {
    background-color: #ffffff;
    border-radius: 20px 20px 0px 0px;
    padding: 20px 0px 0px;
}
.form-text{

}

.logout{
    min-width: 5rem !important;
}
.menu {
    margin-right 20px;
}
